[submodule "files/vim/.vim/bundle/syntastic"]
	path = files/vim/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "files/vim/.vim/bundle/Zenburn"]
	path = files/vim/.vim/bundle/Zenburn
	url = https://github.com/vim-scripts/Zenburn.git
[submodule "files/vim/.vim/bundle/yankstack"]
	path = files/vim/.vim/bundle/yankstack
	url = https://github.com/vim-scripts/yankstack.git
[submodule "files/vim/.vim/bundle/fugitive"]
	path = files/vim/.vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive
[submodule "files/vim/.vim/bundle/easymotion"]
	path = files/vim/.vim/bundle/easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "files/vim/.vim/bundle/tcomment"]
	path = files/vim/.vim/bundle/tcomment
	url = http://github.com/tomtom/tcomment_vim
